<div class="table-responsive">
    <span class="history-label"><h2>History</h2></span>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">value</th>
                <th scope="col">reason</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of deviceSubject.device.history | slice:0:100">
                <td>{{entry.value}}</td>
                <td>{{entry.reason | reasonToText }}</td>
            </tr>        
        </tbody>
    </table>
</div>
