<app-breadcrumb></app-breadcrumb>
<div class="container">

    <div class="row">
        <div class="container col-12 col-lg-6" *ngIf="device"> 
            <div class="row mt-md-3 mb-3">
                <div class="col-sm-2 align-items-stretch">
                    <img class="detail-img"
                        *ngIf="device.picture !== undefined"
                        alt="bild"
                        [src]="device.picture" />
                </div>
                <div class="col-sm-10 align-items-stretch">
                    <span class="detail-headline">{{ device.name }}</span>
                </div>
            </div>
            <form [formGroup]="detailForm">
                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label">status</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="status" [value]="device.value" formControlName="value">
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-primary btn-block col-sm-12"
                (click)="onUpdate()" *ngIf="supportsSetValue">
                update
            </button>
            <button type="button" class="btn btn-block col-sm-12"
                [class.btn-secondary]="action !== device.value" [class.btn-primary]="action === device.value"
                (click)="onClick(action)" *ngFor="let action of device.actions">
                {{action}}
            </button>
        </div>
        <div class="container col-12 col-lg-6">
            <app-device-chart></app-device-chart>
        </div>
    </div>
    <app-device-history></app-device-history>

</div>