
.card-adapt {
    display: flex;
    flex-direction: row;
    width: 380px;
    margin: 0 8px 8px;
}

.card-clickable {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.card-img {
    width: 64px;
    height: 64px;
    border-radius: 10%;
}

.card-name {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    line-height: 2.5;
}

.card-status {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    line-height: 1.8;
}


.card-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.1;
    width: 50px;
    height: 100%;
    padding: 20px 0 0 0;
    background-color: rgb(225, 225, 225);
    border-radius: 0 4px 4px 0;
    color: hsl(196, 100%, 100%);
    font-weight: 600;
    font-size: 30px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-clickable:hover {
    background-color: #f6f7f8;
}

a,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

/* Responsive Styles */
@media only screen and (max-width: 767px) {

    .card-name {
        font-size: 16px;
        font-weight: 600;
        color: #555;
        line-height: 1.4;
    }

}

