<app-breadcrumb></app-breadcrumb>

<div class="container-xl" role="main">

    <div class = "row mt-md-3">
        <div class="col d-sm-block">
            <app-location-menu></app-location-menu>
        </div>

        <!-- Cards -->
        <div class="col-sm-7 col-md-8 col-lg-9">
            <div class = "row">
                <div class="card justify-content-between card-adapt" *ngFor="let device of devices.devices">
                    <a class="card-clickable flex-fill" (click)="onClick(device)">
                        <img class="card-img" width="64" 
                            *ngIf="device !== undefined && device.value !== undefined && device.pictures !== undefined && device.pictures['on']" 
                            alt="bild" 
                            [src]="device.pictures[device.value] ? device.pictures[device.value] : device.pictures['on']" 
                            />
                        <div class="card-text col-10">
                            <span class="card-name">{{ device.name }}</span>
                            <br>
                            <span class="card-status">{{ device.value }}</span>
                        </div>
                    </a>
                    <a class="card-details" [routerLink]="['/devicedetails', device.topic.split('/').join('|')]">
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>